@import url('https://fonts.google.com/specimen/Inter');
@import url('https://fonts.google.com/specimen/Lexend+Deca');
:root {
    --mainBackground: hsl(233, 47%, 7%);
    --cardBackground: hsl(244, 38%, 16%);
    --SoftViolet: hsl(277, 64%, 61%);
    --SoftVioletOverlay: hsla(277, 91%, 45%, 0.308);
    --DarkBlue: hsl(218, 44%, 22%);
    --font1: 'Inter';
    --font2: 'Lexaend Deca';
    --mainParagraph: hsla(0, 0%, 100%, 0.75);
    --main-heading: hsl(0, 0%, 100%);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font1),var(--font2);
}

html, body{
    font-size: 0.9375rem;
    height: 96vh;
    position: relative;
    color: white;
    background-color: var(--mainBackground);
}

.main-content{
    background-color: var(--cardBackground);
    width: 65%;
    border-radius: 0.9375rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51%; 
    height: 45vh;
}

#right{
    width: 50%;
    position: relative;
    border-radius: 0 0.8375rem 0.9375rem 0;
    overflow: hidden;
}
#right::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0.8375rem 0.9375rem 0;
    background-color: var(--SoftVioletOverlay);
}
#container #right img{
    object-fit: contain;
    max-width: 100% !important;
    max-height: 100%;
    border-radius: 0 0.8375rem 0.9375rem 0;
    border-radius: 0 0.8375rem 0.9375rem 0;
}

.red{
    margin:20px ;
    line-height: 1.875rem;
}

.head{
    width: 300px;
    font-family: var(--font1);
    font-size: 0.9375rem;
    font-weight: 700;
}

.head span{
    color: var(--SoftViolet);
   
}

.paragraph{
    padding-bottom:40px ;
    width: 300px;
    color: var(--mainParagraph);
}


.info{
    color: var(--main-heading);
    text-transform: uppercase;
}

.foot{
    display:flex;
    justify-content: space-between;
}

.foot h1{
    font-size:15px;
}

.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
    position: relative;
    top: 100%;
}
.attribution a {
     color: hsl(228, 45%, 44%);
}